ALTER TABLE [MasterBuilders].[dbo].[kockica]
ADD sifra varchar(150)

ALTER TABLE [MasterBuilders].[dbo].[Lset]
ADD sifra varchar(50)

ALTER TABLE [MasterBuilders].[dbo].[Lset]
ADD slika varchar(500)