ALTER TABLE [MasterBuilders].[dbo].[Lset]
add upute varchar(400)

UPDATE [MasterBuilders].[dbo].[Lset]
SET upute ='https://mi-od-live-s.legocdn.com/bigdownloads/buildinginstructions/4536802.pdf'
WHERE id = 1

UPDATE [MasterBuilders].[dbo].[Lset]
SET upute ='https://mi-od-live-s.legocdn.com/bigdownloads/buildinginstructions/4525430.pdf'
WHERE id = 3

UPDATE [MasterBuilders].[dbo].[Lset]
SET upute ='https://mi-od-live-s.legocdn.com/bigdownloads/buildinginstructions/4611616.pdf'
WHERE id = 4

UPDATE [MasterBuilders].[dbo].[Lset]
SET upute ='https://mi-od-live-s.legocdn.com/bigdownloads/buildinginstructions/6192473.pdf'
WHERE id = 5

UPDATE [MasterBuilders].[dbo].[Lset]
SET upute ='https://mi-od-live-s.legocdn.com/bigdownloads/buildinginstructions/6194211.pdf'
WHERE id = 6

UPDATE [MasterBuilders].[dbo].[Lset]
SET upute ='https://mi-od-live-s.legocdn.com/bigdownloads/buildinginstructions/6178324.pdf'
WHERE id = 7

UPDATE [MasterBuilders].[dbo].[Lset]
SET upute ='https://mi-od-live-s.legocdn.com/bigdownloads/buildinginstructions/6198466.pdf'
WHERE id = 8

UPDATE [MasterBuilders].[dbo].[Lset]
SET upute ='https://mi-od-live-s.legocdn.com/bigdownloads/buildinginstructions/4542760.pdf'
WHERE id = 9

UPDATE [MasterBuilders].[dbo].[Lset]
SET upute ='https://mi-od-live-s.legocdn.com/bigdownloads/buildinginstructions/4289405.pdf'
WHERE id = 10

UPDATE [MasterBuilders].[dbo].[Lset]
SET upute ='https://mi-od-live-s.legocdn.com/bigdownloads/buildinginstructions/4520837.pdf'
WHERE id = 11