
@{
    ViewBag.Title = "Search Blocks";
}
@*<head runat="server">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".inventory-block-add").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/Inventory/AddBlockAjax',
                    data: { blockId: $(this).attr("value") },
                    dataType: 'json',
                    cache: false,
                    timeout: 7000,
                    success: function (data) {
                        alert("Block added to your inventory");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }
                });
            });
        });
    </script>
</head>
<body>*@

    @Html.Partial("_blocksSearchPartial");

    <table class="table table_data" id="blocksTable">
        <tr>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var item in ViewBag.listItems)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Category.Name
                    </td>
                    <td>
                        @*<i class="fa fa-plus-circle fa-lg active inventory-block-add" value="@item.Id" title="Add to my inventory"></i>*@
                        <a href="/Block/Details?blockId=@item.Id" title="Details"><i class="fa fa-arrow-right fa-lg"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>