@{
    ViewBag.Title = "Lego Manager";
}

<div id="randomImage" style="text-align:center">
   <iframe src="//giphy.com/embed/VeBeB9rR524RW" width="480" height="200" frameBorder="0"></iframe>
</div>
<div class="about">
    <h3>Lego Manager is an app that allows you to keep track of all your Lego sets and blocks, search for
    new items to add to your collection and discover what sets you could build from blocks you already have.
    Keep your sets and blocks in check, and find other Lego enthusiasts like yourself to build new worlds together!</h3class="about">
</div>
