<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--add name="ConnectionString" connectionString="Data Source=DESKTOP-2VC20JF;Initial Catalog=MasterBuilders;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" /-->
    <!--avez--><add name="ConnectionString" connectionString="Data Source=DESKTOP-GUQG4QH;Initial Catalog=MasterBuilders;Integrated Security=True" />
  </connectionStrings>
</configuration>